@use "./colors" as *;
@use "./components" as *;

@mixin burgerBtn() {
	position: absolute;
	right: 0;
	height: 3px;
	content: "";
	transition: width 0.3s;
}
@mixin heroImages($bgImg) {
	background-image: $blue-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
	// background-attachment: fixed;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: #333;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

// NAVIGATION

.nav {
	.burger-btn {
		position: fixed;
		top: 20px;
		right: 20px;
		padding: 1em;
		background: none;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 100;
		&:focus {
			outline: none;
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 8px;
		}
		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}
		&__bars {
			width: 100%;
			&::after {
				top: 13px;
				width: 60%;
			}
			&::before {
				top: 26px;
				width: 30%;
			}
		}
		&__bars,
		&__bars::after,
		&__bars::before {
			@include burgerBtn;
			background-color: $pure-white;
		}
		&:hover &__bars::after {
			width: 100%;
		}
		&:hover &__bars::before {
			width: 100%;
		}
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		flex-direction: column;
		top: 0;
		height: 100vh;
		width: 100%;
		background-image: $blue-gradient-solid;
		transform: translateX(100%);
		transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
		z-index: 10;

		&--active {
			transform: translateX(0);
		}
	}
	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: $pure-white;
		text-decoration: none;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: 3px;
			height: 100%;
			background-color: $pure-white;
			transform: scaleY(0);
			transition: transform 0.3s;
		}
		&:hover::before {
			transform: scaleY(1);
		}
		&--animation {
			animation: navItemAnimation 1s both;
		}
	}
}

// HEADER
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: $pure-white;
	@include heroImages("../img/palm-3172367_640.jpg");
	background-attachment: scroll;

	&__title {
		font-family: "Dancing Script", cursive;
		font-size: 4rem;
		font-weight: 300;
	}
	&__text {
		font-size: 1.3rem;
	}
	&__btn {
		margin-top: 1.5em;
		padding: 0.8em 1.6em;
		font-size: 1rem;
		background-color: $pure-white;
		border: none;
		border-radius: 8px;
		color: $dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		font-weight: bold;
		&::before {
			background-color: $light-white;
		}
	}
}

// ANIMATIONS
@keyframes navItemAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0%);
	}
}

// MEDIA QUERIES

@media (min-width: 374px) {
	.header {
		&__title {
			font-size: 5rem;
		}
		&__text {
			font-size: 1.6rem;
		}
		&__btn {
			margin-top: 2em;
			padding: 0.8em 1.6em;
			font-size: 1.4rem;
		}
	}
}

@media (min-width: 768px) {
	.header {
		background-image: $blue-gradient, url("../img/palm-3172367_1920.jpg");

		&__title {
			font-size: 8rem;
		}
		&__text {
			padding: 0 70px;
			font-size: 2.5rem;
		}
	}
	.white-block {
		height: 30px;
		width: 45%;
	}
}

@media (min-width: 992px) {
	.burger-btn {
		top: 40px;
		right: 40px;
	}
}
